<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users Page</h1>
    <h2><%= something %></h2>
    <img src="kittne.jpg" alt="most adorable fluffy kitten evar">
    <ul>
        <% for(let u of users) { %>
            <li><%= u.name %></li>   
        <% } %>
    </ul>   
</body>
</html>